	<!--  start footer  -->
	<footer>
		<div class="wrapper">
			<!-- address  -->
			<section class="adress">
				<p>Located in Georgia</p>
				<p class="location">3515 Camp Creek Parkway Suites 50-70<br/>
				East Point, GA 30344</p>
				<p class="phone">404.349.2301</p>
			</section>

			<!--  footer navigation  -->
			<section class="footer_nav">
				<nav>
					<ul>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</section>

			<!--  footer copyrights  -->
			<section class="copyrights">
				<a href="#"><img src="../../assets/img/NewUbarLogo_footer.png" class="footer_logo" alt="" title="" style="width:250px"></a>
				<p>© 2013 The UBar ATL.</p>
				<p> All Rights Reserved.</p>
			</section>
		</div>
	</footer>

	<!--  end footer  -->
