/*    header    */
header{
    width: 100%;
    height: auto;
    margin-bottom: .5em;
    background: #fff;
    overflow: hidden;
}

header .logo{
    float: left;
}

header nav{
    float: right;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;
    color: #3b3b3b;
    font-family: "aleo-regular", arial;
    font-size: 14px;
    letter-spacing: .5px;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;

    display: block;
    text-align: center;
    padding: 14px 16px;
}

header nav ul li a.active,
header nav ul li a:hover{
    color: #B31B18;
    border-bottom: 2px solid #B31B18;
}
