<head>
  <title>The U Bar</title>
    <meta charset="utf-8">

    <script type="text/javascript" src="js/jquery.js"></script> <!-- -->
    <script type="text/javascript" src="js/carouFredSel.js"></script> <!-- Javascript for Image Carousel -->
    <script type="text/javascript" src="js/easing.js"></script> <!-- Javascript for Ease in and out (Menu, Slider) -->
    <script type="text/javascript" src="js/main.js"></script> <!-- Javascript for Animations (Menu, Slider) -->
</head>

<body>

<!--  start hero  -->
<section class="hero">
  <div class="caption">
    <a href="#"><img src="../../assets/img/NewUbarMainLogo.png" alt="UBar" /></a>
  </div>
</section>

<!--  end hero  -->

	<!--  start menu  -->
	<section class="menu">
		<div class="wrapper">
			<div class="menu_title">
				<h2 style="background-color:#B31B18">FEATURED ALCOHOLS</h2>
			</div>

			<div class="mean_menu">
				<!--  left menu row  -->
				<article class="lmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Texas Margarita</h3>
								<p class="item_desc">Jose Cuervo Gold, Grand Marnier, Sweet & Sour</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Jim Jones</h3>
								<p class="item_desc">Vodka, Midori, Amaretto, Southern Comfort, Cranberry, Sprite</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Louisiana Tea</h3>
								<p class="item_desc">Vodka, Gin, 151, OJ, Pineapple, and Grenadine</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Truck Wreck</h3>
								<p class="item_desc">Grand Marrier, Jack Daniel's</p>
							</div>
						</li>
					</ul>
				</article>

				<!--  right menu row  -->
				<article class="rmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Melon Ball</h3>
								<p class="item_desc">Midori, Vodka, OJ</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">747</h3>
								<p class="item_desc">Banana Schnapps, Amaretto, Grand Marrier</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">B-52</h3>
								<p class="item_desc">Kahlua, Bailey's Irish Cream, Grand Marrier</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Jager Bomb</h3>
								<p class="item_desc">Jager & Redbull</p>
							</div>
						</li>
					</ul>
				</article>
			</div>


			<!--  hidden menu items  -->
			<div class="hidden_items">


				<!-- start of left menu row  -->
				<article class="lmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Deep Impact</h3>
								<p class="item_desc">Peppermint Schnapps, Jack Daniel's, Jose' Cuervo Tequila</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Dark Sweetness</h3>
								<p class="item_desc">Dark Creme de Cocoa, Creme de Banana, Irish Cream</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Green Slime</h3>
								<p class="item_desc">Melon Liqueur, served chilled with a dash of Whip Cream</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Godmother</h3>
								<p class="item_desc">Vodka, Amaretto</p>
							</div>
						</li>
					</ul>
				</article>

				<!--  end of left side menu row  -->

				<!--  start of right side menu row  -->
				<article class="rmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Kamikaze</h3>
								<p class="item_desc">Vodka, Triple Sec, Lime Juice</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Hot Flash</h3>
								<p class="item_desc">Creme de Banana, Peppermint schnapps topped with Whip Cream</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Red Snapper</h3>
								<p class="item_desc">Crown Royal, Amaretto, Cranberry</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Godfather</h3>
								<p class="item_desc">Scotch, Amaretto</p>
							</div>
						</li>
					</ul>
				</article>
			</div>

			<div class="load-more">
				<a href="#" id="more_items">
					show more
					<hr/>
					<span class="bottom_arrow"></span>
				</a>
			</div>
		</div>
	</section>

	<!--  end menu  -->
