<head>
  <title>The U Bar</title>
    <meta charset="utf-8">

    <script type="text/javascript" src="js/jquery.js"></script> <!-- -->
    <script type="text/javascript" src="js/carouFredSel.js"></script> <!-- Javascript for Image Carousel -->
    <script type="text/javascript" src="js/easing.js"></script> <!-- Javascript for Ease in and out (Menu, Slider) -->
    <script type="text/javascript" src="js/main.js"></script> <!-- Javascript for Animations (Menu, Slider) -->
</head>

<body>

<!--  start hero  -->
<section class="hero">
  <div class="caption">
    <a href="#"><img src="../../assets/img/NewUbarMainLogo.png" alt="UBar" style="height:auto; width: 700px"/></a>

  </div>
</section><!--  end hero  -->
