<head>
  <title>The U Bar</title>
    <meta charset="utf-8">

    <script type="text/javascript" src="../../assets/js/jquery.js"></script> <!-- -->
    <script type="text/javascript" src="../../assets/js/carouFredSel.js"></script> <!-- Javascript for Image Carousel -->
    <script type="text/javascript" src="../../assets/js/easing.js"></script> <!-- Javascript for Ease in and out (Menu, Slider) -->
    <script type="text/javascript" src="../../assets/js/main.js"></script> <!-- Javascript for Animations (Menu, Slider) -->
</head>

<!--  start hero  -->

<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to the Ubar</h1>
    <h4>Steak &#8226; Seafood &#8226; Entertainment</h4>
  </div>
</div>

<!--  end hero  -->

	<!--  start menu  -->
	<section class="menu">
		<div class="wrapper">
			<div class="menu_title">
				<h2 style="background-color:#B31B18">FEATURED ALCOHOLS</h2>
			</div>

			<div class="mean_menu">
				<!--  left menu row  -->
				<article class="lmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Texas Margarita</h3>
								<p class="item_desc">Jose Cuervo Gold, Grand Marnier, Sweet & Sour</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Jim Jones</h3>
								<p class="item_desc">Vodka, Midori, Amaretto, Southern Comfort, Cranberry, Sprite</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Louisiana Tea</h3>
								<p class="item_desc">Vodka, Gin, 151, OJ, Pineapple, and Grenadine</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Truck Wreck</h3>
								<p class="item_desc">Grand Marrier, Jack Daniel's</p>
							</div>
						</li>
					</ul>
				</article>

				<!--  right menu row  -->
				<article class="rmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Melon Ball</h3>
								<p class="item_desc">Midori, Vodka, OJ</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">747</h3>
								<p class="item_desc">Banana Schnapps, Amaretto, Grand Marrier</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">B-52</h3>
								<p class="item_desc">Kahlua, Bailey's Irish Cream, Grand Marrier</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Jager Bomb</h3>
								<p class="item_desc">Jager & Redbull</p>
							</div>
						</li>
					</ul>
				</article>
			</div>


			<!--  hidden menu items  -->
			<div class="hidden_items">


				<!-- start of left menu row  -->
				<article class="lmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Deep Impact</h3>
								<p class="item_desc">Peppermint Schnapps, Jack Daniel's, Jose' Cuervo Tequila</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Dark Sweetness</h3>
								<p class="item_desc">Dark Creme de Cocoa, Creme de Banana, Irish Cream</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Green Slime</h3>
								<p class="item_desc">Melon Liqueur, served chilled with a dash of Whip Cream</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Godmother</h3>
								<p class="item_desc">Vodka, Amaretto</p>
							</div>
						</li>
					</ul>
				</article>

				<!--  end of left side menu row  -->

				<!--  start of right side menu row  -->
				<article class="rmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Kamikaze</h3>
								<p class="item_desc">Vodka, Triple Sec, Lime Juice</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Hot Flash</h3>
								<p class="item_desc">Creme de Banana, Peppermint schnapps topped with Whip Cream</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Red Snapper</h3>
								<p class="item_desc">Crown Royal, Amaretto, Cranberry</p>
							</div>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Godfather</h3>
								<p class="item_desc">Scotch, Amaretto</p>
							</div>
						</li>
					</ul>
				</article>
			</div>
		</div>
	</section>

	<!--  end menu  -->

  <!--  start featured Sections  -->

	<section class="featured_dishes">
		<div class="wrapper">
			<section class="info">
				<div class="title">
					<h3>Featured Desserts</h3>
					<span class="separator"></span>
				</div>
				<div class="slider_nav" id="slider_nav">
				</div>
			</section>

			<section class="dishes" id="dishes">

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>New York Cheesecake</h2></a>
						<h3>$6.25</h3>
					</div>
				</article>

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>Turtle Cheesecake</h2></a>
						<h3>$6.25</h3>
					</div>
				</article>

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>Red Velvet Cheesecake</h2></a>
						<h3>$6.25</h3>
					</div>
				</article>

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>Key Lime Cake</h2></a>
						<h3>$6.25</h3>
					</div>
				</article>

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>Red Velvet Cake</h2></a>
						<h3>$6.25</h3>
					</div>

				</article>

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>Specialty Cake</h2></a>
						<h3>$6.25</h3>
					</div>
				</article>

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>Sweet Potato Pie</h2></a>
						<h3>$6.25</h3>
					</div>
				</article>

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>Key Lime Pie</h2></a>
						<h3>$6.25</h3>
					</div>
				</article>

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>Whole Cake</h2></a>
						<h3>$54.10</h3>
					</div>
				</article>

				<article>
					<div class="dishe_img">
						<a href="#"><img src="../../assets/img/Stock Cheesecake.jpeg" alt="" title=""/></a>
					</div>
					<div class="dish_info">
						<a href="#"><h2>Whole Pie</h2></a>
						<h3>$47.25</h3>
					</div>
				</article>

			</section>
		</div>
	</section>

	<!--  end featured section  -->
